<!DOCTYPE html>
<html>

<head>
<title>{% block title %}{% endblock %} - MOE Analyzer</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<nav>
    {% block sidebar %}{% endblock %}
</nav>
<section class="content">
    {% block content %}{% endblock %}
</section>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- <script src="{{ url_for('static', filename='jquery.mousewheel.min.js') }}"></script></script> -->
<script src="{{ url_for('static', filename='panzoom.min.js') }}"></script></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>

