{% extends 'base.html' %}

{% block sidebar %}
<nav class="config-view">
  <h1>{% block title %}System Configuration{% endblock %}</h1>
  <ul>
    <hr>
    <li>
      <label for="network">Network:</label>
      <select id="network">
        <option value="none"> </option>
    
        {% for network in networks %}
            <option {{ 'selected="selected"' if network == details['id'] }}
            value="{{ network }}" >{{ network }}</option>
        {% endfor %}
    
      </select>
    </li>
    {% if details %}
      <li class="sep"></li>
      <li>
        <label>Edges:</label>
        <p id="edges">{{ details['edge_count'] }}</p>
      </li>
      <li>
        <label>Junctions:</label>
        <p id="junctions">{{ details['junction_count'] }}</p>
      </li>
      <li>
        <label>Paths:</label>
        <p id="paths">{{ details['path_count'] }}</p>
      </li>
      <li>
        <label>Length:</label>
        <p id="length">{{ details['total_length'] }} km</p>
      </li>
      <li class="sep"></li>
      <li>
        <label>Shortest paths only:</label>
        <input id="shortest_paths" type="checkbox" name="shortest_paths"
          {{ 'checked="checked"' if shortest_paths == "true" }}/>
      </li>
      <li class="sep"></li>
      <li class="sep"></li>
      <li>
        <label for="simulation">Simulation:</label>
        <select id="simulation">
          <option value="none"> </option>

          {% for simulation in simulations %}
              <option value="{{ simulation }}" >{{ simulation }}</option>
          {% endfor %}
        </select>
      </li>
      <li class="sep"></li>
      <li class="sim_parameters hidden">
        <label for="obs_window">Obsrv. window:</label>
        <span class="sep"></span>
        <input type="number" name="obs_window" value="60" />
        <p> mins</p>
      </li>
      <li class="sim_parameters hidden">
        <label for="obs_rate">Obsrv. rate:</label>
        <span class="sep"></span>
        <input type="number" name="obs_rate" value="60" />
        <p> s</p>
      </li>
      <li class="sep"></li>
      <li class="sim_parameters hidden">
        <button id="analyze">Analyze</button>
      </li>
    {% endif %}
  </ul>
</nav>
{% endblock %}


{% block content %}
<section class="content config-view">
  {% if details %}
    <div class="panel top">
      <div id="canvas_container">
        <div id="roadMap"></div>
      </div>
    </div>
    <div class="panel bottom">
      <ul class="tabs">
        <li class="tab-link current" data-tab="edges-tab">&#9903; Edges</li>
        <li class="tab-link" data-tab="paths-tab">&#9736; Paths</li>
        <li class="tab-link" data-tab="groups-tab">&#8578; Groups</li>
      </ul>

      <div id="edges-tab" class="tab-content current">
        <div class="table-wrapper">
          <div class="controls">
            <button id="group_edges_btn">Create group</button>
            <input id="group_edges_input" type="text" name="groupName" placeholder="Group name">
            <span class="sep"></span>
            <button id="sel_all_edges">All</button>
            <button class="desel_all">None</button>
          </div>
          <table>
            <thead>
              <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Lanes</th>
                <th>Speed</th>
                <th>Length</th>
              </tr>
            </thead>
            <tbody>
              {% for _id, edge in edges %}
                <tr class="edge"
                data-edge-id="{{ _id }}"
                data-edge-shape="{{ edge['shape'] }}"
                data-edge-lanes="{{ edge['lanes'] }}" >
                  <td>{{ _id }}</td>
                  <td>{{ edge['type'] }}</td>
                  <td>{{ edge['lanes'] }}</td>
                  <td>{{ edge['speed'] }} km/h</td>
                  <td>{{ edge['length'] }} m</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div id="paths-tab" class="tab-content">
        <div class="table-wrapper">
          <div class="controls">
            <button id="group_paths_btn">Create group</button>
            <input id="group_paths_input" type="text" name="groupName" placeholder="Group name">
            <span class="sep"></span>
            <button id="sel_all_paths">All</button>
            <button class="desel_all">None</button>
          </div>
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Length</th>
              </tr>
            </thead>
            <tbody>
              {% for _id, path in paths %}
                <tr class="path"
                data-path-id="{{ _id }}"
                data-path-edges="{{ path['edges'] }}" >
                  <td>{{ path['name'] }}</td>
                  <td>{{ path['length'] }} m</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div id="groups-tab" class="tab-content">
        <div class="table-wrapper">
          <table>
            <thead>
              <tr>
                <th>Name</th>
                <th>Length</th>
              </tr>
            </thead>
            <tbody>
              {% for _id, group in groups %}
                <tr class="group"
                data-group-id="{{ _id }}"
                data-group-edges="{{ group['edges'] }}" >
                  <td>{{ group['name'] }}</td>
                  <td>{{ group['length'] }} m</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  {% else %}
    <div class=" panel">
      <h1>Welcome!</h1>
      <p>Please select a road network from the dropdown menu on the left to start.</p>
    </div>
  {% endif %}

</section>
{% endblock %}